/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.row {
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -- Google Font -- */
@font-face {font-family: "SkolaSans";
    src: url("./fonts/fontawesome-webfont.eot");
    src: url("//db.onlinewebfonts.com/t/6170997efd2dd111aff73345db859fe8.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/6170997efd2dd111aff73345db859fe8.woff2") format("woff2"),
    url("./fonts/fontawesome-webfont.woff2") format("woff2"),
    url("./fonts/fontawesome-webfont.ttf") format("truetype"),
    url("./fonts/fontawesome-webfont.svg") format("svg");
} 

/*-- Common Style --*/
*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { height: 100%; }

body { background-color: #ffffff; line-height: 24px; font-size: 14px; font-style: normal; font-weight: normal; visibility: visible; font-family: "SkolaSans", sans-serif; color: #666666; }

h1, h2, h3, h4, h5, h6 { font-family: "SkolaSans", sans-serif; font-weight: 400; margin-top: 0; }

h1, .h1 { font-size: 36px; line-height: 42px; }

h2, .h2 { font-size: 30px; line-height: 36px; }

h3, .h3 { font-size: 24px; line-height: 30px; }

h4, .h4 { font-size: 18px; line-height: 24px; }

h5, .h5 { font-size: 14px; line-height: 18px; }

h6, .h6 { font-size: 12px; line-height: 14px; }

.italic { font-style: italic; }

p:last-child { margin-bottom: 0; }

a, button { color: inherit; display: inline-block; line-height: inherit; text-decoration: none; cursor: pointer; }

a, i, button, img, input, span, *:before, *:after { -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; }

*:focus { outline: none !important; }

a:focus { color: inherit; outline: none; text-decoration: none; }

a:hover { text-decoration: none; }

button, input[type="submit"] { cursor: pointer; }

ul { list-style: outside none none; margin: 0; padding: 0; }

/*-Common CSS-*/
.fix { overflow: hidden; }

.clear { clear: both; }

.section { float: left; width: 100%; }

.font-bold { font-weight: 600; }

/*-Background color-*/
.bg-white { background-color: #ffffff; }

.bg-black { background-color: #000000; }

.bg-light-gray { background-color: #f6f6f6; }

.bg-dark { background-color: #ffffff !important; }

.bg-dark-gray { background-color: #2d2d2d; }

.bg-blue { background-color: #00c8fa; }

.bg-yellow { background-color: #ffc61c; }


/* 1.Layout */
:root {
	--fontuno: "SkolaSans", sans-serif;
	--primerolcolor: rgb(180, 180, 180);
	--segundocolor: rgb(134, 134, 134);
	--tercercolor: rgb(218, 218, 218);
}
body {
	--widgetSize: 930px;
}

.menu-principal, .videos p, .link-footer {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* Tamaño del scroll */
::-webkit-scrollbar {
	width: 15px;
	height: 8px;
}

/* Estilos barra (thumb) de scroll */
::-webkit-scrollbar-thumb {
	background: var(--primerolcolor);
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
	background-color: #999999;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--segundocolor);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
::-webkit-scrollbar-track {
	background: #e1e1e1;
	border-radius: 50px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
	background: #d4d4d4;
}


/* header */
.logo {
	display: flex;
	justify-content: center;
}
.logo img {
	width: auto;
	height: auto;
	max-width:calc(var(--widgetSize)/6);
	padding: 1rem 1rem 0 1rem;
}
.banner-header {
	display: flex;
	justify-content: center;
	width: 100%;
}
.banner-header img {
	margin: 0;
	width: calc(var(--widgetSize)*.85);
	height: auto;
	max-width: 100%;
	padding: 1rem 1rem 0 1rem;
}
nav {
	padding: 0 !important;
	font-size: calc(var(--widgetSize)/70);
	justify-content: center;
}
.btn-search {
	font-size: 30px;
	background: transparent;
	border: 0;
	display: block;
}
.header-search-form input {
	margin: .2rem;
	border-radius: 25px;
	padding: .3rem;
	display: none;
}
.dias {
	margin: .4rem 0 0 0;
	display: block;
	font-size: calc(var(--widgetSize)/1vmin);
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dias p {
	padding: 0 !important;
}
button.navbar-toggler {
	background-color: rgb(255, 146, 31);
	width: 20vw;
	height: 15vw;
	display: none;
}
.menu-principal, .link-footer {
	font-size: calc(var(--widgetSize)/75);
	font-weight: 600;
	line-height: 30px;
	position: relative;
	text-align: center;
}
.menu-principal {
	background: #CCCCCC;
	color: black;
	border-left: 3px solid transparent;
	border-image: url('../assets/images/header/Barra_menu.png') 10 stretch;
	width: calc(74.8vw/7);

}
.nav-link {
	padding: .5rem !important;
}
.redes {
	display: flex;
	justify-content: center;
}
.redes img {
	height: 1.8rem;
	width: auto;
	margin: .1rem;
}
.container-secciones {
	height: auto;
	min-height: 100vh;
}

/* seccion uno */
.alaire {
	padding: 0;
	margin: 0;
	background: #E6E6E6;

}
.alaire-titulo {
	position: relative;
	background-image: url('../assets/images/seccion-uno/Fondo_titulo_1.png');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: auto;
	min-height: 6rem;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
}
.alaire-titulo h3 {
	color: #ffffff;
	margin: auto;
}
.alaire-programas {
	overflow-y: auto;
	width: 100%;
	min-height: 500px;
	height: 600px;
}
.alaire-programa {
	padding: 1rem !important;
}
.alaire-programa p {
	font-size: calc(var(--widgetSize)/60);
}
.slider-home {
	height: auto;
	min-height: 18rem;
	margin: 3.3rem 0 0 0;
}
.titulo-slider.uno {
	background-image: url('../assets/images/seccion-uno/Fondo_titulo.png');
	background-size: calc(100vw/1.55);
	background-repeat: no-repeat;
	width: 110%;
	min-height: 4.5rem;
	margin: -.05rem 0 0 -4rem;
}
.titulo-slider.dos {
	background-image: url('../assets/images/seccion-uno/Fondo_titulo_1.png');
	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 7rem;
	margin: .5px 0 0 0;
}
.titulo-slider.uno,
.titulo-slider.dos {
	position: absolute;
	background-repeat: no-repeat;
	height: auto;
	z-index: 1000;
	display: flex;
	justify-content: center;
	color: #ffffff;
}
.titulo-slider.uno h4,
.titulo-slider.dos h4 {
	margin: 1rem auto 0;
	font-size: 16px;
}
.carousel {
	width: inherit;
}
.carousel-item img {
	max-width: 100%;
	width: 100%;
	height: auto;
	object-fit: cover;
}
.padding-texto-slider {
	padding: 30px;
}
.text-descripcion-slider-home {
	position: absolute;
	font-size: 17px;
	color: white;
	top: 39%;
	right: 0px;
	margin: -8rem 0 0 0;
	padding: 5rem 0 0 0;
	height: 24rem;
	background-color: #53535373;
	width: 33%;
	z-index: 2;
}
.text-descripcion-slider-home p {
	font-size: 1.1rem;
}
.banner-dos {
	padding: 1.5rem;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #e2e2e23b;
}
.banner-dos img {
	margin: auto;
	height: initial;
	width: inherit;
}
.videos {
	width: 100%;
	height: 100%;
	background-color: #DE912F;
	color: #ffffff;
	text-align: center;
}
.video {
	display: flex;
	justify-content: center;
	height: 70%;
}
.video iframe {
	width: 80%;
	height: auto;
	margin: .5rem auto 0;
	
}
.videos p {
	padding: .3rem 1rem 0;
	font-size: calc(var(--widgetSize)/75);
}

/* seccion sliser canales */
.titulo-slider-canales {
	background-image: url("../assets/images/slider-canales/Fondo-titulo-3.png");
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: 99.5%;
	min-height: 6.5rem;
	width: 100%;
	color: #ffffff;
	text-align: center;
	display: flex;
}
.titulo-slider-canales h4 {
	margin: auto;
}
.slider-canales img {
	padding: 10px;
}

/* seccion mxcan y fotos */
.mxcan, .fotos {
	width: 100%;
	height: auto;
	min-height: 200px;
}
.mxcan {
	background-color: #E6E6E6;
}

.titulo-mxcan {
	background-image: url("../assets/images/seccion-mxcan/Fondo-tiutlo-4.png");
}
.titulo-descarga {
	background-image: url("../assets/images/seccion-mxcan/Fondo-titulo-6.png");
}
.titulo-mxcan, .titulo-descarga {
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 5rem;
	width: 100%;
	color: #ffffff;
	text-align: center;
	display: flex;
}
.titulo-descarga {
	min-height: 3rem;
}
.titulo-mxcan h4, .titulo-fotos h4 {
	margin: .5rem auto;
}
.mxcan-video {
	width: 100%;
	height: auto;
}
.mxcan-video iframe {
	padding: 0 .5rem;
	width: calc(var(--widgetSize)/3.5);
	min-height: 10rem;
	margin: 0 auto;
}
.mxcan-video p {
	text-align: left;
	width: 100%;
	color: rgb(24, 24, 24);
	padding: .5rem 0 0 1.5rem;
}
.mxcan-video-notes {
	background-attachment: local;
	background-image: repeating-linear-gradient(#E6E6E6, #E6E6E6 28px, #000 32px, #000 32px, #E6E6E6 32px);
	margin: 0 1rem;
	border: 0;
	width: 100%;
	min-height: 7rem;
}
.mxcan-video a {
	width: 95%;
	text-align: right;
}
.lista-videos {
	display: flex;
	justify-content: center;
	height: auto;
	width: 100%;
	padding: 0 1rem;
}
.lista-videos-container {
	margin: auto;
}
.video-lista {
	background-color: #ffffff;
	margin: .8rem .2rem;
}
.video-lista>div>iframe{
	width: 95%;
	max-height: 4rem;
}
.video-lista>div>p {
	font-size: .5rem;
	height: .8rem;
}
.titulo-descarga h4 {
	margin: auto;
}
.titulo-fotos {
	background-image: url('../assets/images/seccion-mxcan/Fondo-titulo-5.png');
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 6.5rem;
	width: 100%;
	color: #ffffff;
	text-align: center;
	display: flex;
}
.foto {
	height: calc(var(--widgetSize)/7);
	width: auto;
}
.foto img {
	height: inherit;
	width: 100%;
	object-fit: cover;
	padding: .5rem 0;
}
.banner-tres {
	width: 100%;
	min-height: 26rem;
	display: flex;
}
.banner-tres img {
	width: 100%;
	height: auto;
	margin: auto;
	object-fit: contain;
}

/* seccion cards */
.seccion-cards {
	display: flex;
	justify-content: space-around;
	height: 300px;
	overflow-x: auto;
	overflow-y: hidden;
}
.card-container {
	display: flex;
	margin: 0 5px;
}
.foto-card {
	background-size: auto;
	background-position: top;
	background-repeat: no-repeat;
	min-height: 16.5rem;
	/* width: 100%; */
	color: #ffffff;
	margin: 2rem 0;
	position: relative;

}

.texto-card.azul {
	background-image: url('../assets/images/seccion-cards/Fondo-titulo-7.png');
}
.texto-card.turquesa {
	background-image: url('../assets/images/seccion-cards/Fondo-titulo-8.png');
}
.texto-card.amarillo {
	background-image: url('../assets/images/seccion-cards/Fondo-titulo-9.png');
}
.texto-card {
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	min-height: inherit;
	width: 25rem;
	display: flex;
	align-items: flex-end;
}
.texto-card h4 {
	margin: 0 auto 1rem;
}
.info-card {
	background-color: #F1F2F2;
	width: 25rem;
	height: auto;
	padding: 1rem;
	margin: 33px auto 11px;
	display: none;
}
.info-card-active {
	display: block !important;
}

/* footer */
footer {
	width: 100% !important;
	background-color: #FF921F;
	color: #ffffff;
	padding: 0 0 3rem 0 !important;
}
.logo-footer {
	padding: 2rem !important;
	background-image: url('../assets/images/footer/Sombra_Foother.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: 40px !important;
}
.nav-footer {
	display: block;
	margin: .5rem 0;
}
.menu-footer {
	background-image: url('../assets/images/footer/Sombra_Foother.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: 10px !important;
	background-color: transparent;
}
.link-footer {
	width: calc(73.3vw/7);
	background: transparent;
	color: #ffffff;
}
.footer-contacto {
	padding: 1rem;
	text-align: left;
}
.footer-contacto h4 {
	padding: 1rem 0;
}
.logos-footer {
	padding: 5rem 0 0 0;
}
.logos-footer div,
.logos-footer p {
	text-align-last: end;
	padding: 0 1rem 0 0;
}
.logos-footer img {
	vertical-align: middle;
	height: auto;
	width: calc(var(--widgetSize)/20);
	margin: 0 0 0 1rem;
}

/* small screens ----------- */
@media only screen and (max-width : 670px) {
	/* header */
	body {
		--widgetSize: 750px;
	}
	/* Tamaño del scroll */
	::-webkit-scrollbar {
		width: 5px;
		height: 8px;
	}
	.banner-header {
		justify-content: center;
		width: 100%;
	}
	.banner-header img {
		width: 100%;
		padding: 0;
	}
	.redes {
		display: none;
		justify-content: center;
	}
	.menu-principal {
		background: #CCCCCC;
		width: 100vw;
		text-align: center;
	}
	button.navbar-toggler {	
		display: block;
    position: fixed;
    z-index: 1002;
	}

	/* primera seccion */
	.alaire {
		min-height: 200px;
		height: auto;
	}
	.alaire-titulo {
		margin: 0;
		min-height: 5rem;
	}
	.alaire-titulo h3 {
		font-size: 1rem;
	}
	.alaire-programas {
		min-height: 100px;
    height: 115px;
	}
	.carousel-item img {
		max-width: 100%;
		width: auto;
		height: auto;
		object-fit: cover;
		min-height: 20rem;
	}
	.titulo-slider.uno,
	.titulo-slider.dos {
		text-align: center;
	}
	.titulo-slider.uno {
		background-size: cover;
		font-size: .7rem;
		width: 100%;
		min-height: 4.5rem;
		margin: 0;
		position: inherit;
	}
	.titulo-slider.dos {
    min-height: 5rem;
    margin: -.5rem 0 0 0;
    position: inherit;
	}
	.slider-home {
		margin: -1.65rem 0 0 0;
		min-height: 7rem;
	}

	/* seccion canales */
	.titulo-slider-canales {
		min-height: 3.5rem;
	}
	.titulo-descarga {
		min-height: 1.5rem;
	}
	.titulo-descarga h4 {
		font-size: 15px;
	}
	/* seccion mxcanal y fotos */
	.titulo-fotos, .titulo-mxcan {
		min-height: 3.5rem;
	}

	/* seccion cards */
	.foto-card {
		margin: 1rem 0 0 0;
	}
	/* footer */
	.nav-footer {
		display: none;
	}
	.logos-footer {
		padding: 1rem;
		text-align: center;
	}
	.logos-footer div, .logos-footer p {
    text-align-last: center;
	}
	.footer-contacto {
		padding: 1rem;
		text-align: center;
	}
	.padding-texto-slider {
		padding: 0;
	}
	.text-descripcion-slider-home {
		margin: -10rem 0 0 0;
		width: 50%;
	}
	.text-descripcion-slider-home p {
		font-size: .8rem;
	}
}
/* Medium screens ----------- */
@media only screen and (min-width : 671px) and (max-width : 1024px) {
	.alaire {
		min-height: 250px;
		height: 560px;
	}
	.alaire-titulo {
		min-height: 4.5rem;
	}
	.alaire-titulo h3 {
		font-size: calc(var(--widgetSize)/55);
	}
	.alaire-programas {
		min-height: 400px;
		height: 490px;
	}
	.alaire-programa p {
		font-size: calc(var(--widgetSize)/60);
	}
	.titulo-slider.dos {
		min-height: 6rem;
	}
	.titulo-slider.uno {
		background-size: calc(100vw/1.3);
    min-height: 3.5rem;
    margin: -.1rem 0 0 -3.2rem;
	}
	.video iframe {
		width: 70%;
	}
	.foto {
		height: calc(var(--widgetSize)/8);
	}
	.text-descripcion-slider-home p {
		font-size: .9rem;
	}
	.padding-texto-slider {
    padding: 15px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1025px) and (max-width : 1440px) {
	.titulo-slider.uno {
		background-size: calc(100vw/1.35);
		margin: -0.4px 0 0 -3rem;
	}
	.mxcan {
		/* height: 500px; */
		padding: 0 0 1.5rem;
	}
	.banner-tres {
		height: 31rem;
		padding: 1rem;
	}
}

/* XLarge screens ----------- */
@media only screen and (min-width : 1650px) {
	/* header */
	body {
		--widgetSize: 1120px;
	}
	.container-principal {
		padding: 0 calc(var(--widgetSize)*.20);
	}
	.banner-header {
		justify-content: center;
	}
	/* width links menu */
	.menu-principal, .link-footer {
		width: calc(55vw/7);
	}
	/* sectiones*/
	.titulo-slider.dos {
    min-height: 7rem;
	}
	.titulo-slider.uno {
		background-size: calc(75vw/1.6);
		margin: -.06rem 0 0 -3rem;
	}
	.alaire-programas {
		height: 570px;
	}
	.titulo-mxcan h4, .titulo-fotos h4 {
		margin: 1.5rem auto;
		font-size: 1rem;
	}
	.videos {
		min-height: 18rem;
	}
	.mxcan-video iframe {
		min-height: 13rem;
	}
	.lista-videos {
		height: 34rem;
	}
	.video-lista>div>iframe {
		max-height: 5rem;
	}
	.mxcan, .fotos {
		min-height: 40rem;
	}
	.foto {
		height: calc(var(--widgetSize)/7);
	}
	.titulo-descarga {
		min-height: 3.5rem;
	}
	.foto-card {
		margin: 1.5rem 0;
	}
	.texto-card {
		min-width: 320px;
	}

	/* footer */
	footer {
		padding: 0 calc(var(--widgetSize)*.25) !important;
	}
	.logos-footer div, .logos-footer p {
    text-align-last: center;
	}
}

@media only screen and (min-width: 2550px) {
	body {
		--widgetSize: 1120px;
	}
	.alaire-programas {
		height: 650px;
	}
	.container-principal {
		padding: 0 calc(var(--widgetSize)*.35);
	}
	.titulo-descarga {
		min-height: 4.5rem;
	}
	.menu-principal,
	.link-footer {
		width: calc(52vw/7);
	}
	.mxcan-video-notes {
		margin: 3rem 1rem 0;
	}
}

